@import url(/atv-01/css/styles.css);

#list {
    height: 20vh;
    width: 25vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section-list {
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.item {
    text-decoration: none;
    color: black;
    transition: .5s;
}

.item:hover {
    color: rgb(143, 92, 191);
    font-weight: bold;
}

.content {
    margin-top: 3vh;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin-bottom: 1vh;
}

#professor {
    margin-left: 2vw;
    margin-top: 2vh;
    height: 16vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#professor img {
    height: 16vh;
}

#professor-informations {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#pad {
    height: 13vh;
}

#ementa {
    height: 24vh;
}

#objetivo {
    height: 15vh;
}

#competencias {
    height: 15vh;
}

#requisito {
    height: 12vh;
}